##=============================================================================
## [Filename]       .gitignore
## [Project]        -
## [Author]         uvmcollab
## [Language]       Git
## [Created]        Sep 2026
## [Modified]       -
## [Description]    Main .gitignore file for the Git-repository
## [Notes]          -
## [Status]         stable
## [Revisions]      -
##=============================================================================

# Directories
work/

# Files
Makefile

# C/C++
bin/
obj/
lib/
*.o
*.lib
*.exe

# Python
.venv/
venv/

# Regression
regression.mk

# Synopsys
setup_synopsys_eda.tcsh
setup_synopsys_eda.sh
*.rc